*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0095ff
}
.clock
{
    width: 350px;
    height: 350px;
    position: relative;
    background: #FFF url(../01.png);
    border-radius: 50%;
    box-shadow: inset 0 0 17px #000
}

.clock::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    background: #333;
    border-radius: 50%;
    z-index: 999
}

.hour, .minute, .second
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hour, .hr
{
    width: 160px;
    height: 160px;
}

.minute, .mn
{
    width: 200px;
    height: 200px;
}

.second, .sc
{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    position: absolute;
}

.hr::before
{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #777;
    border-radius: 6px 6px 0 0;
}

.mn::before
{
    content: "";
    position: absolute;
    width: 4px;
    height: 100px;
    background-color: #333;
    border-radius: 6px 6px 0 0;
}

.sc::before
{
    content: "";
    position: absolute;
    width: 3px;
    height: 140px;
    background-color: #F60409;
}